@{
    ViewBag.Title = "Proximidades";
    Layout = "~/Views/Shared/_MiraMare.cshtml";
}

<div class="container">
    <div class="section_header">
        <h3><img src="@Url.Content("~/images/br.png")" />Proximidades </h3>
    </div>
</div>
<div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper">
            <div class="es-nav">
                <span class="es-nav-prev">Anterior</span>
                <span class="es-nav-next">Proximo</span>
            </div>
            <div class="es-carousel">
                <ul>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/01.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/01.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/02.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/02.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/03.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/03.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/04.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/04.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/05.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/05.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/06.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/06.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/07.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/07.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/08.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/08.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/09.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/09.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/10.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/10.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/12.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/12.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/13.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/13.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/14.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/14.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/15.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/15.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/16.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/16.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/17.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/17.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/18.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/18.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/19.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/19.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/20.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/20.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/21.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/21.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/22.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/22.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/23.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/23.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/24.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/24.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/25.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/25.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/26.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/26.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/27.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/27.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/28.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/28.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/29.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/29.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/30.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/30.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/31.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/31.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/32.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/32.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/33.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/33.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/34.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/34.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/35.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/35.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/36.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/36.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/37.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/37.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/38.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/38.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/39.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/39.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/41.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/41.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/42.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/42.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/43.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/43.jpg")" alt="Proximidades" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/proximidades/thumbs/44.jpg")" data-large="@Url.Content("~/imageshotel/proximidades/44.jpg")" alt="Proximidades" /></a></li>
                </ul>
            </div>
        </div>
        <!-- End Elastislide Carousel Thumbnail Viewer -->
    </div><!-- rg-thumbs -->
</div>
<div class="container">
    <p class="texto">
        <img src="@Url.Content("~/images/br.png")" />
        O MIRA-MARÉ PRAIA HOTEL dista poucas quadras dos melhores restaurantes do Guarujá, de um centro de esportes náuticos, de um centro comercial e da estrada de acesso à Praia de Pernambuco e demais praias do Litoral Norte (Costa Verde).
    </p>
</div>

