
@{
    ViewBag.Title = "Seja bem-vindo";
    Layout = "~/Views/Shared/_MiraMare.cshtml";
}


<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/lib/animate.css")" media="screen, projection" />
<link rel="stylesheet" href="@Url.Content("~/css/about.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/css/lib/flexslider.css")" type="text/css" media="screen" />

<div id="aboutus">
    <div class="container">
        <div class="section_header">
            <h3><img src="@Url.Content("~/images/br.png")" />Mira-Maré Praia Hotel </h3>  
        </div>
        <div class="row">
            <div class="span6 intro">
                <h6>Seja bem-vindo ao MIRA-MARÉ PRAIA HOTEL</h6>
                <p>
                    O serviço destaca-se pela cortesia, limpeza, conforto e segurança, com acomodações modernas, de frente para o mar, no trecho mais tranquilo da Praia da Enseada, no Guarujá. Capacidade: 25 apartamentos.
                </p>

                <p>


                    <b>DDD: </b>             (0xx13)  <br/>
                    <b>Celular TIM:</b>  (0xx13) 98127-0008 ou 98127-0009<br />
                    <b>DDI:    </b>          (055xx13) 33515051<br />
                    <b>FAX:</b>             (0xx13) 33921432<br />
                    <b>E.mail:</b>          miramare@hotelmiramare.com.br<br />
                    <b>SITE:</b>              www.hotelmiramare.com.br<br />
                    <b>Endereço:</b>    Av. Miguel Estéfano 4479, Praia da Enseada, Guarujá, São Paulo, Brasil<br />

                </p>
            </div>
            <div class="span6 flexslider">
                <ul class="slides">
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/0.jpg")"/>
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/1.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/2.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/3.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/4.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/5.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/6.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/7.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/8.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/9.jpg")" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




