
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Areas/English/Views/Shared/_MiraMareEnglish.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/portfolio.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/lib/isotope.css")" />

<div class="container">
    <div class="section_header">
        <h3><img src="@Url.Content("~/images/en.png")" />Gallery </h3>
    </div>
</div>
<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="filters_container">
                    <ul id="filters">
                        <li><a href="#" data-filter="*" class="active">All</a></li>
                        <li class="separator">/</li>
                        <li><a href="#" data-filter=".acomodacoes">Facilities</a></li>
                        <li class="separator">/</li>
                        <li><a href="#" data-filter=".eventos">Events</a></li>
                        <li class="separator">/</li>
                        <li><a href="#" data-filter=".hotel">Hotel</a></li>
                        <li class="separator">/</li>
                        <li><a href="#" data-filter=".jardins">Gardens</a></li>
                        <li class="separator">/</li>
                        <li><a href="#" data-filter=".proximidades">Surroundingservices</a></li>
                        <li class="separator">/</li>
                        <li><a href="#" data-filter=".servicos">Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="gallery_container">
                    <div class="photo acomodacoes">
                        <img src="@Url.Content("~/gallery/Acomodacoes/01_ap-duplo.jpg")" />
                        <a href="#" class="mask">
                            <small>Facilities</small>
                        </a>
                    </div>
                    <div class="photo hotel">
                        <img src="@Url.Content("~/gallery/home/1.jpg")" />
                        <a href="#" class="mask">
                            <small>Hotel</small>
                        </a>
                    </div>
                    <div class="photo jardins">
                        <img src="@Url.Content("~/gallery/jardins/y2.jpg")" />
                        <a href="#" class="mask">
                            <small>Gardens</small>
                        </a>
                    </div>
                    <div class="photo servicos">
                        <img src="@Url.Content("~/gallery/servicos/15.jpg")" />
                        <a href="#" class="mask">
                            <small>Services</small>
                        </a>
                    </div>
                    <div class="photo servicos">
                        <img src="@Url.Content("~/gallery/servicos/22.jpg")" />
                        <a href="#" class="mask">
                            <small>Services</small>
                        </a>
                    </div>
                    <div class="photo hotel">
                        <img src="@Url.Content("~/gallery/home/6.jpg")" />
                        <a href="#" class="mask">
                            <small>Hotel</small>
                        </a>
                    </div>
                    <div class="photo acomodacoes">
                        <img src="@Url.Content("~/gallery/Acomodacoes/08_ap-triplo-com-varanda.jpg")" />
                        <a href="#" class="mask">
                            <small>Facilities</small>
                        </a>
                    </div>
                    <div class="photo eventos">
                        <img src="@Url.Content("~/gallery/Eventos/34.jpg")" />
                        <a href="#" class="mask">
                            <small>Events</small>
                        </a>
                    </div>
                    <div class="photo acomodacoes">
                        <img src="@Url.Content("~/gallery/Acomodacoes/07_ap-triplo-com-varanda.jpg")" />
                        <a href="#" class="mask">
                            <small>Facilities</small>
                        </a>
                    </div>
                    <div class="photo eventos">
                        <img src="@Url.Content("~/gallery/Eventos/38.jpg")" />
                        <a href="#" class="mask">
                            <small>Events</small>
                        </a>
                    </div>
                    <div class="photo acomodacoes">
                        <img src="@Url.Content("~/gallery/Acomodacoes/10_ap-quadruplo.jpg")" />
                        <a href="#" class="mask">
                            <small>Facilities</small>
                        </a>
                    </div>
                    <div class="photo jardins">
                        <img src="@Url.Content("~/gallery/jardins/y4.jpg")" />
                        <a href="#" class="mask">
                            <small>Gardens</small>
                        </a>
                    </div>
                    <div class="photo eventos">
                        <img src="@Url.Content("~/gallery/Eventos/48.jpg")" />
                        <a href="#" class="mask">
                            <small>Events</small>
                        </a>
                    </div>
                    <div class="photo hotel">
                        <img src="@Url.Content("~/gallery/home/0.jpg")" />
                        <a href="#" class="mask">
                            <small>Hotel</small>
                        </a>
                    </div>
                    <div class="photo proximidades">
                        <img src="@Url.Content("~/gallery/proximidades/33.jpg")" />
                        <a href="#" class="mask">
                            <small>Surroundingservices</small>
                        </a>
                    </div>
                    <div class="photo hotel">
                        <img src="@Url.Content("~/gallery/home/3.jpg")" />
                        <a href="#" class="mask">
                            <small>Hotel</small>
                        </a>
                    </div>
                    <div class="photo hotel">
                        <img src="@Url.Content("~/gallery/home/5.jpg")" />
                        <a href="#" class="mask">
                            <small>Hotel</small>
                        </a>
                    </div>
                    <div class="photo servicos">
                        <img src="@Url.Content("~/gallery/servicos/07.jpg")" />
                        <a href="#" class="mask">
                            <small>Services</small>
                        </a>
                    </div>
                    <div class="photo hotel">
                        <img src="@Url.Content("~/gallery/home/2.jpg")" />
                        <a href="#" class="mask">
                            <small>Hotel</small>
                        </a>
                    </div>
                    <div class="photo proximidades">
                        <img src="@Url.Content("~/gallery/proximidades/23.jpg")" />
                        <a href="#" class="mask">
                            <small>Surroundingservices</small>
                        </a>
                    </div>
                    <div class="photo proximidades">
                        <img src="@Url.Content("~/gallery/proximidades/25.jpg")" />
                        <a href="#" class="mask">
                            <small>Surroundingservices</small>
                        </a>
                    </div>
                    <div class="photo jardins">
                        <img src="@Url.Content("~/gallery/jardins/216.jpg")" />
                        <a href="#" class="mask">
                            <small>Gardens</small>
                        </a>
                    </div>
                    <div class="photo jardins">
                        <img src="@Url.Content("~/gallery/jardins/219.jpg")" />
                        <a href="#" class="mask">
                            <small>Gardens</small>
                        </a>
                    </div>
                    <div class="photo servicos">
                        <img src="@Url.Content("~/gallery/servicos/14.jpg")" />
                        <a href="#" class="mask">
                            <small>Services</small>
                        </a>
                    </div>
                    <div class="photo servicos">
                        <img src="@Url.Content("~/gallery/servicos/25.jpg")" />
                        <a href="#" class="mask">
                            <small>Services</small>
                        </a>
                    </div>
                    <div class="photo eventos">
                        <img src="@Url.Content("~/gallery/Eventos/35e.jpg")" />
                        <a href="#" class="mask">
                            <small>Events</small>
                        </a>
                    </div>
                    <div class="photo jardins">
                        <img src="@Url.Content("~/gallery/jardins/205.jpg")" />
                        <a href="#" class="mask">
                            <small>Gardens</small>
                        </a>
                    </div>
                    <div class="photo jardins">
                        <img src="@Url.Content("~/gallery/jardins/x1b.jpg")" />
                        <a href="#" class="mask">
                            <small>Gardens</small>
                        </a>
                    </div>
                    <div class="photo acomodacoes">
                        <img src="@Url.Content("~/gallery/Acomodacoes/04_ap-duplo-com-varanda.jpg")" />
                        <a href="#" class="mask">
                            <small>Facilities</small>
                        </a>
                    </div>
                    <div class="photo servicos">
                        <img src="@Url.Content("~/gallery/servicos/00.jpg")" />
                        <a href="#" class="mask">
                            <small>Services</small>
                        </a>
                    </div>
                    <div class="photo acomodacoes">
                        <img src="@Url.Content("~/gallery/Acomodacoes/02_ap-duplo.jpg")" />
                        <a href="#" class="mask">
                            <small>Facilities</small>
                        </a>
                    </div>
                    <div class="photo proximidades">
                        <img src="@Url.Content("~/gallery/proximidades/10.jpg")" />
                        <a href="#" class="mask">
                            <small>Surroundingservices</small>
                        </a>
                    </div>
                    <div class="photo eventos">
                        <img src="@Url.Content("~/gallery/Eventos/39.jpg")" />
                        <a href="#" class="mask">
                            <small>Events</small>
                        </a>
                    </div>
                    <div class="photo eventos">
                        <img src="@Url.Content("~/gallery/Eventos/44.jpg")" />
                        <a href="#" class="mask">
                            <small>Events</small>
                        </a>
                    </div>
                    <div class="photo proximidades">
                        <img src="@Url.Content("~/gallery/proximidades/12.jpg")" />
                        <a href="#" class="mask">
                            <small>Surroundingservices</small>
                        </a>
                    </div>
                    <div class="photo proximidades">
                        <img src="@Url.Content("~/gallery/proximidades/34.jpg")" />
                        <a href="#" class="mask">
                            <small>Surroundingservices</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>