
@{
    ViewBag.Title = "Benvenuti";
    Layout = "~/Areas/Italia/Views/Shared/_MiraMareItaliano.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/lib/animate.css")" media="screen, projection" />
<link rel="stylesheet" href="@Url.Content("~/css/about.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/css/lib/flexslider.css")" type="text/css" media="screen" />

<div id="aboutus">
    <div class="container">
        <div class="section_header">
            <h3><img src="@Url.Content("~/images/it.png")" />Mira-Maré Praia Hotel </h3>
        </div>
        <div class="row">
            <div class="span6 intro">
                <h6>Benvenuti al MIRA-MARÉ PRAIA HOTEL</h6>
                <p>
                    Di fronte al mare, nel punto più tranquillo della spiaggia ENSEADA, nel GUARUJÁ, com ambienti moderni, puliti, confortevoli, sicuri e servízi che primano per la cortesia. Capacità: 25 camere.
                </p>

                <p>


                    <b>DDD: </b>             (0xx13)  <br />
                    <b>TIM:</b>  (0xx13) 98127-0008 ou 98127-0009<br />
                    <b>DDI:    </b>          (055xx13) 33515051<br />
                    <b>FAX:</b>             (0xx13) 33921432<br />
                    <b>E-mail:</b>          miramare@hotelmiramare.com.br<br />
                    <b>Web:</b>              www.hotelmiramare.com.br<br />
                    <b>Indirizzo:</b>     Avenida Miguel Estefano nº 4479, via costiera alla spiaggia Enseada<br />

                </p>
            </div>
            <div class="span6 flexslider">
                <ul class="slides">
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/0.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/1.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/2.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/3.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/4.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/5.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/6.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/7.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/8.jpg")" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/imageshotel/hotel/9.jpg")" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

