
@{
    ViewBag.Title = "Comodita";
    Layout = "~/Areas/Italia/Views/Shared/_MiraMareItaliano.cshtml";
}


<div class="container">
    <div class="section_header">
        <h3><img src="@Url.Content("~/images/it.png")" />Comodità </h3>
    </div>
</div>

<div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper">
            <div class="es-nav">
                <span class="es-nav-prev">Previos</span>
                <span class="es-nav-next">Next</span>
            </div>
            <div class="es-carousel">
                <ul>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/01_ap-duplo.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/01_ap-duplo.jpg")" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/02_ap-duplo.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/02_ap-duplo.jpg")" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/03_ap-duplo-com-varanda.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/03_ap-duplo-com-varanda.jpg")" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/04_ap-duplo-com-varanda.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/04_ap-duplo-com-varanda.jpg")" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/05_ap-duplo-com-varanda.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/05_ap-duplo-com-varanda.jpg" )" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/06_ap-triplo.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/06_ap-triplo.jpg")" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/07_ap-triplo-com-varanda.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/07_ap-triplo-com-varanda.jpg" )" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/08_ap-triplo-com-varanda.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/08_ap-triplo-com-varanda.jpg" )" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/09_ap-quadruplo.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/09_ap-quadruplo.jpg")" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/10_ap-quadruplo.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/10_ap-quadruplo.jpg")" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/11_banheiro.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/11_banheiro.jpg" )" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/12_-entrada-do-ap.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/12_-entrada-do-ap.jpg" )" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/13_-armario-e-cofre.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/13_-armario-e-cofre.jpg" )" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/14_varanda.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/14_varanda.jpg" )" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/15_varanda.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/15_varanda.jpg" )" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/16_varanda.jpg")" data-l data-large="@Url.Content("~/imageshotel/acomodacoes/16_varanda.jpg" )" /></a></li>
                    <li><a href="#"> <img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/17_varanda.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/17_varanda.jpg" )" /></a></li>

                </ul>
            </div>
        </div>
        <!-- End Elastislide Carousel Thumbnail Viewer -->
    </div><!-- rg-thumbs -->
</div>

<div class="container">
    <p class="texto">
        <img src="@Url.Content("~/images/it.png")" />
       
        Camere ampie, con  bagno, per accomodare fino 4 ospiti, con televisore, aria condizionata, ventilatore a soffitto, frigo-bar, box doccia, telefono interno, Internet Wireless. Otto camere hanno un’ampio balcone che si apre sul mare. Dalle altre camere anche si guarda il mare od un giardino tropicale.
    </p>
</div>

