@{
    ViewBag.Title = "Acomodações";
    Layout = "~/Views/Shared/_MiraMare.cshtml";
}





<div class="container">
    <div class="section_header">
        <h3><img src="@Url.Content("~/images/br.png")" />Acomodações </h3>
    </div>
</div>

<div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper">
            <div class="es-nav">
                <span class="es-nav-prev">Anterior</span>
                <span class="es-nav-next">Proximo</span>
            </div>
            <div class="es-carousel">
                <ul>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/01_ap-duplo.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/01_ap-duplo.jpg")" alt="Apartamento duplo" data-description="Apartamento duplo" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/02_ap-duplo.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/02_ap-duplo.jpg")" alt="Apartamento duplo" data-description="Apartamento duplo" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/03_ap-duplo-com-varanda.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/03_ap-duplo-com-varanda.jpg")" alt=" apartamento duplo com varanda" data-description="Apartamento duplo com varanda" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/04_ap-duplo-com-varanda.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/04_ap-duplo-com-varanda.jpg")" alt="apartamento duplo" data-description="Apartamento duplo" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/05_ap-duplo-com-varanda.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/05_ap-duplo-com-varanda.jpg" )" alt="Apartamento duplo com varanda" data-description="Apartamento duplo com varanda" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/06_ap-triplo.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/06_ap-triplo.jpg")" alt="Apartamento triplo" data-description="Apartamento triplo" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/07_ap-triplo-com-varanda.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/07_ap-triplo-com-varanda.jpg" )" alt="Apartamento triplo com varanda" data-description="Apartamento triplo com varanda" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/08_ap-triplo-com-varanda.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/08_ap-triplo-com-varanda.jpg" )" alt="Apartamento triplo com varanda" data-description="Apartamento triplo com varanda" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/09_ap-quadruplo.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/09_ap-quadruplo.jpg")" alt="Apartamento quadruplo" data-description="Apartamento quadruplo" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/10_ap-quadruplo.jpg")" data-large=" @Url.Content("~/imageshotel/acomodacoes/10_ap-quadruplo.jpg") " alt=" apartamento quadruplo" data-description="Apartamento quadruplo" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/11_banheiro.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/11_banheiro.jpg" )" alt="Banheiro" data-description="Banheiro" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/12_-entrada-do-ap.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/12_-entrada-do-ap.jpg" )" alt="Entrada do apartamento" data-description="Entrada do apartamento" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/13_-armario-e-cofre.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/13_-armario-e-cofre.jpg" )" alt="Armário e cofre" data-description="Armário e cofre" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/14_varanda.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/14_varanda.jpg" )" alt="Varanda" data-description="Varanda" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/15_varanda.jpg" )" data-large="@Url.Content("~/imageshotel/acomodacoes/15_varanda.jpg" )" alt="Varanda" data-description="Varanda" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/16_varanda.jpg")" data-l data-large="@Url.Content("~/imageshotel/acomodacoes/16_varanda.jpg" )" alt="Varanda" data-description="Varanda" /></a></li>
                    <li><a href="#"> <img src="@Url.Content("~/imageshotel/acomodacoes/thumbs/17_varanda.jpg")" data-large="@Url.Content("~/imageshotel/acomodacoes/17_varanda.jpg" )" alt="Varanda" data-description="Varanda" /></a></li>

                </ul>
            </div>
        </div>
        <!-- End Elastislide Carousel Thumbnail Viewer -->
    </div><!-- rg-thumbs -->
</div>

<div class="container">
    <p class="texto">
        <img src="@Url.Content("~/images/br.png")" />
        Apartamentos amplos, para até 4 hóspedes, com televisão, ar-condicionado spleet, ventilador de teto,
        frigobar, interfone, cofre, Internet Wireless. Oito apartamentos têm ampla varanda de frente para o mar.
        Os demais apartamentos são de frente para o mar ou para o jardim do hotel.
    </p>
</div>


