
@{
    ViewBag.Title = "Services";
    Layout = "~/Areas/English/Views/Shared/_MiraMareEnglish.cshtml";
}

<div class="container">
    <div class="section_header">
        <h3><img src="@Url.Content("~/images/en.png")" />Hotel Services </h3>
    </div>
</div>


<div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper">
            <div class="es-nav">
                <span class="es-nav-prev">Previos</span>
                <span class="es-nav-next">Next</span>
            </div>
            <div class="es-carousel">
                <ul>


                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/00.jpg")" data-large="@Url.Content("~/imageshotel/servicos/00.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/01.jpg")" data-large="@Url.Content("~/imageshotel/servicos/01.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/02.jpg")" data-large="@Url.Content("~/imageshotel/servicos/02.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/03.jpg")" data-large="@Url.Content("~/imageshotel/servicos/03.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/04.jpg")" data-large="@Url.Content("~/imageshotel/servicos/04.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/05.jpg")" data-large="@Url.Content("~/imageshotel/servicos/05.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/06.jpg")" data-large="@Url.Content("~/imageshotel/servicos/06.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/07.jpg")" data-large="@Url.Content("~/imageshotel/servicos/07.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/08.jpg")" data-large="@Url.Content("~/imageshotel/servicos/08.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/09.jpg")" data-large="@Url.Content("~/imageshotel/servicos/09.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/10.jpg")" data-large="@Url.Content("~/imageshotel/servicos/10.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/11.jpg")" data-large="@Url.Content("~/imageshotel/servicos/11.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/12.jpg")" data-large="@Url.Content("~/imageshotel/servicos/12.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/13.jpg")" data-large="@Url.Content("~/imageshotel/servicos/13.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/14.jpg")" data-large="@Url.Content("~/imageshotel/servicos/14.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/15.jpg")" data-large="@Url.Content("~/imageshotel/servicos/15.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/16.jpg")" data-large="@Url.Content("~/imageshotel/servicos/16.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/17.jpg")" data-large="@Url.Content("~/imageshotel/servicos/17.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/18.jpg")" data-large="@Url.Content("~/imageshotel/servicos/18.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/19.jpg")" data-large="@Url.Content("~/imageshotel/servicos/19.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/20.jpg")" data-large="@Url.Content("~/imageshotel/servicos/20.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/21.jpg")" data-large="@Url.Content("~/imageshotel/servicos/21.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/22.jpg")" data-large="@Url.Content("~/imageshotel/servicos/22.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/23.jpg")" data-large="@Url.Content("~/imageshotel/servicos/23.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/24.jpg")" data-large="@Url.Content("~/imageshotel/servicos/24.jpg")" alt="Serviços no hotel" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/servicos/thumbs/25.jpg")" data-large="@Url.Content("~/imageshotel/servicos/25.jpg")" alt="Serviços no hotel" /></a></li>


                </ul>
            </div>
        </div>
        <!-- End Elastislide Carousel Thumbnail Viewer -->
    </div><!-- rg-thumbs -->
</div>

<div class="container">
    <p class="texto">
        <img src="@Url.Content("~/images/en.png")" />
        
        Generous breakfast, whose price is included in the bill. Swimming pool overlooking the sea. Sunshade, towel sand, appropriate chair to the beach. TV and games rooms beside the reception desk. Internet Wireless. Privatepark, with valet parking 24 hours a day. For babies: cradles in the parents´rooms and support on baby bottle preparation, with free access to the kitchen.
        
    </p>
</div>


