
@{
    ViewBag.Title = "Meeting or events room";
    Layout = "~/Areas/English/Views/Shared/_MiraMareEnglish.cshtml";
}


<div class="container">
    <div class="section_header">
        <h3><img src="@Url.Content("~/images/en.png")" />Meeting or events room </h3>
    </div>
</div>
<div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper">
            <div class="es-nav">
                <span class="es-nav-prev">Previos</span>
                <span class="es-nav-next">Next</span>
            </div>
            <div class="es-carousel">
                <ul>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/33.jpg")" data-large="@Url.Content("~/imageshotel/eventos/33.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/34.jpg")" data-large="@Url.Content("~/imageshotel/eventos/34.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/35.jpg")" data-large="@Url.Content("~/imageshotel/eventos/35.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/36.jpg")" data-large="@Url.Content("~/imageshotel/eventos/36.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/37.jpg")" data-large="@Url.Content("~/imageshotel/eventos/37.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/38.jpg")" data-large="@Url.Content("~/imageshotel/eventos/38.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/39.jpg")" data-large="@Url.Content("~/imageshotel/eventos/39.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/40.jpg")" data-large="@Url.Content("~/imageshotel/eventos/40.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/41.jpg")" data-large="@Url.Content("~/imageshotel/eventos/41.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/42.jpg")" data-large="@Url.Content("~/imageshotel/eventos/42.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/43.jpg")" data-large="@Url.Content("~/imageshotel/eventos/43.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/44.jpg")" data-large="@Url.Content("~/imageshotel/eventos/44.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/45.jpg")" data-large="@Url.Content("~/imageshotel/eventos/45.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/46.jpg")" data-large="@Url.Content("~/imageshotel/eventos/46.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/47.jpg")" data-large="@Url.Content("~/imageshotel/eventos/47.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/48.jpg")" data-large="@Url.Content("~/imageshotel/eventos/48.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/49.jpg")" data-large="@Url.Content("~/imageshotel/eventos/49.jpg")" alt="Meeting or events room" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/eventos/thumbs/32.jpg")" data-large="@Url.Content("~/imageshotel/eventos/32.jpg")" alt="Meeting or events room" /></a></li>
                </ul>
            </div>
        </div>
        <!-- End Elastislide Carousel Thumbnail Viewer -->
    </div><!-- rg-thumbs -->
</div>
<div class="container">
    <p class="texto">
        <img src="@Url.Content("~/images/en.png")" />
        Two lavishfoyers with almost 300 square meters, among gardens, for welcoming, meetings and coffee breaks. Each room can accommodate 30 people, comfortably sitting at tables.
    </p>
</div>

