
@{
    ViewBag.Title = "Gardens and decorations";
    Layout = "~/Areas/English/Views/Shared/_MiraMareEnglish.cshtml";
}

<div class="container">
    <div class="section_header">
        <h3><img src="@Url.Content("~/images/en.png")" /> Gardens and decorations </h3>
    </div>
</div>
<div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper">
            <div class="es-nav">
                <span class="es-nav-prev">Previos</span>
                <span class="es-nav-next">Next</span>
            </div>
            <div class="es-carousel">
                <ul>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/213.jpg")" data-large="@Url.Content("~/imageshotel/jardins/213.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/202.jpg")" data-large="@Url.Content("~/imageshotel/jardins/202.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/203.jpg")" data-large="@Url.Content("~/imageshotel/jardins/203.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/204.jpg")" data-large="@Url.Content("~/imageshotel/jardins/204.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/205.jpg")" data-large="@Url.Content("~/imageshotel/jardins/205.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/206.jpg")" data-large="@Url.Content("~/imageshotel/jardins/206.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/207.jpg")" data-large="@Url.Content("~/imageshotel/jardins/207.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/208.jpg")" data-large="@Url.Content("~/imageshotel/jardins/208.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/216.jpg")" data-large="@Url.Content("~/imageshotel/jardins/216.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/217.jpg")" data-large="@Url.Content("~/imageshotel/jardins/217.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/218.jpg")" data-large="@Url.Content("~/imageshotel/jardins/218.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/219.jpg")" data-large="@Url.Content("~/imageshotel/jardins/219.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/221.jpg")" data-large="@Url.Content("~/imageshotel/jardins/221.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/222.jpg")" data-large="@Url.Content("~/imageshotel/jardins/222.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/223.jpg")" data-large="@Url.Content("~/imageshotel/jardins/223.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/224.jpg")" data-large="@Url.Content("~/imageshotel/jardins/224.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/225.jpg")" data-large="@Url.Content("~/imageshotel/jardins/225.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/227.jpg")" data-large="@Url.Content("~/imageshotel/jardins/227.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/228.jpg")" data-large="@Url.Content("~/imageshotel/jardins/228.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/229.jpg")" data-large="@Url.Content("~/imageshotel/jardins/229.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/230.jpg")" data-large="@Url.Content("~/imageshotel/jardins/230.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/231.jpg")" data-large="@Url.Content("~/imageshotel/jardins/231.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/232.jpg")" data-large="@Url.Content("~/imageshotel/jardins/232.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/50.jpg")" data-large="@Url.Content("~/imageshotel/jardins/50.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/51.jpg")" data-large="@Url.Content("~/imageshotel/jardins/51.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/q1.jpg")" data-large="@Url.Content("~/imageshotel/jardins/q1.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/q2.jpg")" data-large="@Url.Content("~/imageshotel/jardins/q2.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/q3.jpg")" data-large="@Url.Content("~/imageshotel/jardins/q3.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/q4.jpg")" data-large="@Url.Content("~/imageshotel/jardins/q4.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/q5.jpg")" data-large="@Url.Content("~/imageshotel/jardins/q5.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/q6.jpg")" data-large="@Url.Content("~/imageshotel/jardins/q6.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/q7.jpg")" data-large="@Url.Content("~/imageshotel/jardins/q7.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/q8.jpg")" data-large="@Url.Content("~/imageshotel/jardins/q8.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/q9.jpg")" data-large="@Url.Content("~/imageshotel/jardins/q9.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x1.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x1.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x11.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x11.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x12.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x12.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x13.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x13.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x14.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x14.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x1a.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x1a.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x1b.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x1b.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x2.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x2.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x3.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x3.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x3a.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x3a.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x3.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x3.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x4.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x4.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x5.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x5.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x6.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x6.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x7.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x7.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x8.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x8.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/x9.jpg")" data-large="@Url.Content("~/imageshotel/jardins/x9.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/y1.jpg")" data-large="@Url.Content("~/imageshotel/jardins/y1.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/y2.jpg")" data-large="@Url.Content("~/imageshotel/jardins/y2.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/y3.jpg")" data-large="@Url.Content("~/imageshotel/jardins/y3.jpg")" alt="Gardens and decorations" /></a></li>
                    <li><a href="#"><img src="@Url.Content("~/imageshotel/jardins/thumbs/y4.jpg")" data-large="@Url.Content("~/imageshotel/jardins/y4.jpg")" alt="Gardens and decorations" /></a></li>
                </ul>
            </div>
        </div>
        <!-- End Elastislide Carousel Thumbnail Viewer -->
    </div><!-- rg-thumbs -->
</div>
<div class="container">
    <p class="texto">
        <img src="@Url.Content("~/images/en.png")" />
        Mira-Maré Praia Hotel gardens and decorations 
    </p>
</div>
